<!DOCTYPE html>
<html class='body'>
<head>
  <title>Patrick "Shades" Wetzel-Meyers</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar black-background">
    <h2><a href="/">Patrick "Shades" Wetzel-Meyers</a></h2>
    <li><h3><a href='/about-me'>About Me</a></h3></li>
    <li><h3><a href='/portfolio' class='right-padding'>Portfolio</a></h3></li>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

  <%= yield :extra_footer %>
</body>
</html>
